.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: 1px solid lightblue;
    padding: 0.5em 0 0.5em 1em;
    margin-bottom: 2em;
    position: fixed;
    z-index: 11;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    margin: auto;
}

.footer__item {
    margin: 0 1rem;
}

