.asideWall {
    position: fixed;
    margin-left: 40rem;
}

/* .messageBox {
    position: fixed;
} */

.DMTopflex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.messageBoxinner {
    margin: 5rem 1rem 0rem 1rem;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
    background-color: rgb(112,128,144, .6);
    border-radius: 10px;
}

#closeMessageBox {
    margin: 1rem;
    padding: -1rem;
}

#closeMessageWindow {
    margin: 1rem;
    padding: -1rem -1rem;
}

.DMDisplay {
    background-color: rgb(112,128,144, .6);
    padding: 2.5rem;
    border-radius: 10px;
    margin: 5rem 1rem 2rem 1rem;
}

.DMBox {
    margin-top: 3rem;
}

.yourDMs {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 1rem;
}

.MessageTopflex {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
}

.MessageBottomFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBodyInput {
    padding: 4rem;
}

#recipientSelection {
    margin-bottom: 1rem;
}

.inbox {
    background-color: rgb(245, 245, 245, .8);
    padding: 1rem 2rem;
}

.unreadMessage {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
}

.messageText {
    display: flex;
    flex-direction: row;
}

.newMessageBody {
    padding: 0rem 3rem;
}

.readInbox {
    background-color: rgb(180, 175, 175, .8);
    padding: 0rem 5rem 1rem 4rem;
}

.readMessage {
    background-color: rgb(187, 223, 238, .8);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.readMessageBody {
    padding: 0rem 4rem 0rem 10rem;
}

#sendMessage {
    margin-top: 1rem;
}
/* 
.directMessage {
    padding: 0.75rem 2rem 2rem 2rem;
    margin: 5rem 25% 0 25%;
    background-color: aliceblue;
    position: relative;
}

.message__input {
    width: 100%;
    margin: 0.5rem 0;
}

.select--friends {
    width: initial;
    margin: 0.5rem;
    font-size: large;
}

.message__section {
    font-size: large;
    margin: 0.75rem;
    width: max-content;
}

#directMessage__close {
    position: absolute;
    top: 0.25rem;
    right: 0.35rem;
    width: 1rem;
    height: 1rem;
    line-height: 0;
}

.messages {
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    border: 1px dotted lightblue;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    margin: 0 25%;
    flex-basis: 50%;
}

.message__author {
    font-weight: bold;
    margin-bottom: 1rem;
} */